.Rproj.user
.Rhistory
.RData
.Rapp.history
*.blg
*.aux
*.bbl
*.lox
*.out
*.toc
*-concordance.tex
*.log
*.synctex.gz
*.pdf
*.RData
knitr/prof.R
knitr/*
RCM-feedback/*
RCM*.tex
*.png
0.drafting*
*Supp*.txt
*.zip
figure*
table*